# General:
NODE_ENV=development
SERVICE_NAME=cloud-[YOUR_SERVICE_NAME]-service
PORT=3001

# MongoDB:
ATLASDB_HOST=localhost
ATLASDB_PORT=27017
ATLASDB_USER=root
ATLASDB_PASSWORD=root
ATLASDB_DATABASE=fdo-daily

# Kafka:
KAFKA_BROKERS=localhost
KAFKA_PORT=9092
KAFKA_CLIENT_ID=cloud-[YOUR_SERVICE_NAME]-service
KAFKA_GROUP_ID=cloud-[YOUR_SERVICE_NAME]-group
KAFKA_MANUAL_ACK=true
KAFKA_DLQ_RETRY_COUNT=3
KAFKAJS_NO_PARTITIONER_WARNING=1

# Logging:
NEW_RELIC_ENABLED=false
NEW_RELIC_KEY=********

# Redis:
REDIS_HOST=localhost
REDIS_PORT=6379
EKS_REDIS_HOST=localhost
EKS_REDIS_PORT=6379

# Health Check:
HEALTH_PATH=/health